
/**************
 HTML ELEMENTS
*************/

html {
  font-family: Gill Sans Extrabold, sans-serif;
}

body {
  background-color: #f9fafc;
}

h1 {
  display: inline-block;
  margin-left: 6%;
  margin-top: 2%;
}

i {
  color: #bababa;
}

img {
  border-radius: 65px;
  float:left;
  margin-right: 20px;
}

input{
  border-radius: 5px;
}

label {
  margin-right: 4px;
}


/*************
 CLASSES
*************/

.city {
  text-transform: capitalize;
}

.fullname {
  font-weight: bold;
  font-size: 18px;
  text-transform: capitalize;
  color: #003;
}

.hidden {
  display: none !important;
}

.info {
  margin-top: 25px;
  line-height: 1.7;
  color: #bababa;
  font-size: 12px;
}


/***************
 MODAL SECTION
***************/

#close, #next {
  float: right;
  cursor: pointer;
}

#modal {
    background:#fff;
    border: 2px solid #bababa;
    border-radius: 5px;
    height: auto;
    margin: auto;
    margin-top: 100px;
    max-width:390px;
    overflow: auto;
    padding: 20px;
    z-index:3;
}

#modal .city {
  border-bottom: 1px solid #bababa;
  margin-bottom: 30px;
  padding-bottom: 20px;
}

#modal img {
  border-radius: 75px;
  float: none;
  height: 150px;
  margin: 0;
  width: 150px;
}

#modal .info {
  margin: auto 0;
  text-align: center;
  line-height: 2.2;
}

#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  position: fixed;
  overflow: hidden;
  z-index:2;
}

#previous {
  float:left;
  cursor: pointer;
}


/***************
 SEARCH SECTION
***************/

#searchMe{
  margin-right: 6%;
  margin-top: 2.8%;
  float: right;
  width: 300px;
  height: 37px;
}


/***************
 USERS SECTION
***************/

#users ul {
  display:grid;
  grid-template-columns: 5% 30% 30% 30% 5%;
  list-style: none;
  padding-left: 0;
}

#users ul li {
  background-color: #fff;
  border: 2px solid #bababa;
  border-radius: 5px;
  display: inline;
  margin: 10px;
  padding: 25px;
}

#users ul li:hover {
  background-color: #d3e4ff;
  cursor: pointer;
}

#users ul li:nth-child(3n+1){
  grid-column: 2/3;
}
#users ul li:nth-child(3n+2){
  grid-column: 3/4;
}
#users ul li:nth-child(3n+3){
  grid-column: 4/5;
}
